[Unit]
Description=Run script at startup

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /root/getOnionBridgeFromTelegram/main.py
WorkingDirectory=/root/getOnionBridgeFromTelegram
TimeoutStartSec=0
User=root

[Install]
WantedBy=multi-user.target
